input { 
  display: flex;
  flex-grow: 0;
} 

textarea {
  display: flex;
} 

main {
  padding: 10px;
}

@media all and (min-width: 600px) {
    main {
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
    } 
}